!!! 5
%html
  %body
    %p
    .span15
      .row
        .container
          .col-md-2.pull-right
            .btn-group
              .btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
                Choose a Customer
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/analytics"} All Customers
                %li.divider{:role => "separator"}
                - @customers.each do |customer|
                  %li
                    %a{:href => "/analytics?custid=#{customer.id}"} #{customer.name}
          .col-md-10
            .page-header
              %h1
                Password Analyticis: 
                - if @custid.nil?
                  All
                - else
                  All
                .col-md-2.pull-right
      .container
        .row
          .col-md-6
            - if @cracked_results.nil?
              No results for this job. Perhaps it was never started?
            - else
              .panel.panel-default
                .panel-heading
                  %b Total Hashes Cracked
                .panel-body
                  %br
                  %div{:id =>"chart1", :style => 'text-align:center'}
                  //cred to http://jsfiddle.net/ragingsquirrel3/qkHK6 for this
                  :plain
                    <script src= '/js/d3.min.js'></script>
                    <script type= "text/javascript">
                      var data = [{"label":"Cracked", "value":"#{@cracked_pw_count}"},
                        {"label":"Failed", "value":"#{@failed_pw_count}"}];
                      var w = 200;
                      var h = 200;
                      var r = h/2;
                      var iw = 50;

                      //d3.select("body").append("svg").attr("width", 50).attr("height", 50).append("circle").attr("cx", 25).attr("cy", 25).attr("r", 25).style("fill", "purple");
                      var color = d3.scaleOrdinal()
                        .range(['#5cb85c','#d9534f']);  //'#FFBF00', '#0000FF', '#008C00']);
                      var visual1 = d3.select('#chart1').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
                      var pie = d3.pie().value(function(d){return d.value;});
                      var arc = d3.arc().innerRadius(r - iw).outerRadius(r);

                      var arcs = visual1.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");


                      arcs.append("svg:path")
                        .attr("fill", function(d, i){
                          return color(i);
                          })
                        .attr("stroke", "white")
                        .attr("stroke-width", 2.0)
                        .attr("d", function (d) {
                          console.log(arc(d));
                          return arc(d);
                        });
                      arcs.append("svg:text").attr("transform", function(d){
                        d.innerRadius = 0;
                        d.outerRadius = r;
                        return "translate(" + arc.centroid(d) + ")";});

                      var legend = d3.select("#chart1").append("svg")
                        .attr("class", "legend")
                        .attr("width", r * 2)
                        .attr("height", r * 2)
                        .selectAll("g")
                        .data(color.domain().slice())
                        .enter().append("g")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                      legend.append("rect")
                        .attr("width", 18)
                        .attr("height", 18)
                        .style("fill", color);

                      legend.append("text")
                        .attr("x", 24)
                        .attr("y", 9)
                        .attr("dy", ".35em")
                        .style("font-family","Calibri")
                        .text(function( d,i ) {return data[i].label +": " + data[i].value })
                        .style("font-size","px");
                    </script>
                  %br
          .col-md-6
            .panel.panel-default
              .panel-heading
                %b Analysis Details
              .panel-body
                .table
                  %table{:class => 'table'}
                    %tr
                      %td Total Accounts: #{@total_accounts}
                    %tr
                      %td Total Unique Users: #{@total_unique_users_count.size}
                    %tr
                      %td Total Unique Passwords: #{@total_unique_originalhash_count.size.to_s}
                      - if @customers.length == 1
                        %td
                          Job Name:
                      %tr
                        %td
                          #{@customers.name}
          .col-md-12
            .panel.panel-default
              .panel-heading
                %b Password Count by Length
              .panel-body
                %div{:id =>"chart2"}
                :plain
                  <script src= '/js/d3.min.js'></script>
                  <script type= "text/javascript">
                  // set the dimensions and margins of the graph
                  var margin = {top: 20, right: 20, bottom: 30, left: 40},
                      width = 600 - margin.left - margin.right,
                      height = 350 - margin.top - margin.bottom;

                  // set the ranges
                  var x = d3.scaleBand()
                            .range([0, width])
                            .padding(0.1);
                  var y = d3.scaleLinear()
                            .range([height, 0]);

                  // append the svg object to the body of the page
                  // append a 'group' element to 'svg'
                  // moves the 'group' element to the top left margin
                  var visual2 = d3.select("#chart2").append("svg")
                      .attr("width", width + margin.left + margin.right)
                      .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                      .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");

                  // get the data
                  var url = '/analytics/graph1?custid=#{@custid}';
                  d3.json(url, function(error, data) {
                    if (error) throw error;
                    console.log(data)

                    // format the data
                    data.forEach(function(d) {
                      d.length = +d.length;
                    });

                    // Scale the range of the data in the domains
                    x.domain(data.map(function(d) { return d.length; }));
                    y.domain([0, d3.max(data, function(d) { return d.count; })]);

                    // append the rectangles for the bar chart
                    visual2.selectAll("#chart3")
                        .data(data)
                      .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.length); })
                        .attr("width", x.bandwidth())
                        .attr("y", function(d) { return y(d.count); })
                        .attr("height", function(d) { return height - y(d.count); })
                        .attr("fill", "#337ab7");

                    // add the x Axis
                    visual2.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                    // add the y Axis
                    visual2.append("g")
                        .call(d3.axisLeft(y));
                  });
                  </script>
          .col-md-12
            .panel.panel-default
              .panel-heading
                %b Top 10 Passwords
              .panel-body
                %div{:id =>"chart3"}
                :plain
                  <script src= '/js/d3.min.js'></script>
                  <script type= "text/javascript">
                  // set the dimensions and margins of the graph
                  var margin = {top: 20, right: 20, bottom: 30, left: 40},
                      width = 600 - margin.left - margin.right,
                      height = 350 - margin.top - margin.bottom;

                  // set the ranges
                  var x = d3.scaleBand()
                            .range([0, width])
                            .padding(0.1);
                  var y = d3.scaleLinear()
                            .range([height, 0]);

                  // append the svg object to the body of the page
                  // append a 'group' element to 'svg'
                  // moves the 'group' element to the top left margin
                  var visual3 = d3.select("#chart3").append("svg")
                      .attr("width", width + margin.left + margin.right)
                      .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                      .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");

                  // get the data
                  var url = '/analytics/graph2?custid=#{@custid}';
                  d3.json(url, function(error, data) {
                    if (error) throw error;
                    console.log(data)

                    // format the data
                    data.forEach(function(d) {
                      d.count = +d.count;
                    });

                    // Scale the range of the data in the domains
                    x.domain(data.map(function(d) { return d.password; }));
                    y.domain([0, d3.max(data, function(d) { return d.count; })]);

                    // append the rectangles for the bar chart
                    visual3.selectAll("#chart4")
                        .data(data)
                      .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.password); })
                        .attr("width", x.bandwidth())
                        .attr("y", function(d) { return y(d.count); })
                        .attr("height", function(d) { return height - y(d.count); })
                        .attr("fill", "#337ab7");

                    // add the x Axis
                    visual3.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                    // add the y Axis
                    visual3.append("g")
                        .call(d3.axisLeft(y));
                  });
                  </script>
