!!! 5
%html
  %body
    %p
    .span15
      .container
        .row
          .col-md-12
            - if !@active_jobs.empty?
              .table
                .panel.panel-primary
                  .panel-heading
                    %h3.panel-title
                      - if @active_jobs
                        - @customers.each do |customer|
                          - @active_jobs.each do |active_job|
                            - if active_job.customer_id == customer.id
                              %b Customer:
                              #{customer.name}
                              %b Job:
                              #{active_job.name}
                  .panel-body
                    - @jobs.each do |job|
                      - if job.status == 'Running'
                        %h3
                          Hashes Cracked
                          .badge #{@crackedtargets.to_i} / #{@alltargets.to_i}
                        %p
                        .progress
                          .progress-bar{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => "#{@crackedtargets}", role: 'progressbar', style: "width: #{@progress.round()}%;min-width: 4em;"} #{@progress.round(1)}%
                    .row
                      .col-md-12
                        - @jobs.each do |job|
                          - if job.status == 'Importing'
                            %center
                              %h3 Importing. Please wait...
                          - elsif job.status == 'Running'
                            %h3 Job Status
                            .table
                              %table{class: 'table'}
                                %tr
                                  %td.col-md-4
                                    Started At:
                                  %td
                                    #{job.started_at}
                                %tr
                                  %td.col-md-4
                                    Running Time:
                                  %td
                                    - if @time_now.to_time - job.started_at.to_time > 86400
                                      #{((@time_now.to_time - job.started_at.to_time).to_f/86400).round(2)} Days
                                    - elsif @time_now.to_time - job.started_at.to_time > 3600
                                      #{((@time_now.to_time - job.started_at.to_time).to_f/3600).round(2)} Hours
                                    - elsif @time_now.to_time - job.started_at.to_time > 60
                                      #{((@time_now.to_time - job.started_at.to_time).to_f/60).round(2)} Minutes
                                    - elsif @time_now.to_time - job.started_at.to_time >= 0
                                      #{((@time_now.to_time - job.started_at.to_time).to_f).round(2)} Seconds
                                    - else
                                      Im ready coach, just send me in.
                                %tr
                                  %td.col-md-4
                                    Cracking Speed
                                  %td
                                    - total_speed = 0
                                    - @agents.each do |agent|
                                      - if agent.status == 'Online' || agent.status == 'Working' || agent.status == 'Idle'
                                        - if agent.benchmark
                                          - if agent.benchmark.include? 'kH/s'
                                            - speed = agent.benchmark.split()[0].to_f
                                            - speed = speed * 1000
                                            - total_speed += speed
                                          - if agent.benchmark.include? 'MH/s'
                                            - speed = agent.benchmark.split()[0].to_f
                                            - speed = speed * 1000000
                                            - total_speed += speed
                                          - if agent.benchmark.include? 'GH/s'
                                            - speed = agent.benchmark.split()[0].to_f
                                            - speed = speed * 1000000000
                                            - total_speed += speed
                                          - if agent.benchmark.include? 'TH/s'
                                            - speed = agent.benchmark.split()[0].to_f
                                            - speed = speed * 1000000000000
                                            - total_speed += speed
                                    - speed_count = total_speed.to_i.to_s.size
                                    - if speed_count > 12
                                      - total_speed = total_speed / 1000000000000
                                      #{total_speed.round} TH/s
                                    - elsif speed_count > 9
                                      - total_speed = total_speed / 1000000000
                                      #{total_speed.round} GH/s
                                    - elsif speed_count > 6
                                      - total_speed = total_speed / 1000000
                                      #{total_speed.round} MH/s
                                    - elsif speed_count > 3
                                      - total_speed = total_speed / 1000000
                                      #{total_speed.round} kH/s
            - else
              .jumbotron
                %center
                  %h4 Feed me hashes!
                  %br
                  %a.btn.btn-primary{:href => '/jobs/create'}
                    Create a New Job
            /%br
            - if @active_jobs.empty?
              .page-header
                %h2 Job Queue
              No Hashview jobs are running
            - else
              .page-header
                %h2 Job Queue
              - @jobs.each do |job|
                - if job.status == 'Running' || job.status == 'Queued' || job.status == 'Importing'
                  - @customers.each do |customer|
                    - if customer.id == job.customer_id
                      %h3 #{customer.name} - #{job.name}
                      #accordion.panel-group
                        .panel.panel-default
                          - @jobtasks.each do |jt|
                            - if job.id == jt.job_id
                              - @tasks.each do |task|
                                - if task.id == jt.task_id
                                  - link = rand(36**8).to_s(36)
                                  .panel-heading
                                    %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: "#collapse-#{link}" }
                                      %td
                                        #{task.name}
                                    - if jt.status == 'Queued'
                                      %span.label.label-default.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Completed'
                                      %span.label.label-primary.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Running'
                                      %span.label.label-success.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Importing'
                                      %span.label.label-warning.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Canceled'
                                      %span.label.label-default.labelfixedwidth.pull-right #{jt.status}
                                  - if jt.status == 'Running'
                                    %div{id: "collapse-#{link}", class: 'panel-collapse collapse in'}
                                      .panel-body
                                        Remaining chunks:
                                        - remaining_chunks = 0
                                        - @taskqueues.each do |tq|
                                          - if job.id == tq.job_id
                                            - if jt.id == tq.jobtask_id
                                              - if tq.status == 'Queued' || tq.status == 'Paused'
                                                - remaining_chunks += 1
                                        #{remaining_chunks}
                                        %p
                                        %ul{class: 'list-group borderless row'}
                                          - @taskqueues.each do |tq|
                                            - if jt.id == tq.jobtask_id
                                              - next if tq.status == 'Completed'
                                              - next if tq.status == 'Queued' || tq.status == 'Paused'
                                              %li{:class => 'list-group-item borderless'}
                                                %table{:class => 'table'}
                                                  %thead
                                                    %td
                                                      %b Chunk
                                                    %td
                                                      - if tq.status == 'Queued' || tq.status == 'Paused'
                                                        %b Command
                                                      - else
                                                        %b Agent
                                                    %td
                                                    %td
                                                  %tbody
                                                    %td
                                                      #{tq.id}
                                                    %td
                                                      - if tq.status == 'Queued' || tq.status == 'Paused'
                                                        #{tq.command}
                                                      - else
                                                        - @agents.each do |agent|
                                                          - if agent.id.to_i == tq.agent_id.to_i
                                                            #{agent.name}
                                                    %td
                                                      - if tq.status == 'Running'
                                                        %a.label.label-danger.labelfixedwidth.pull-right{href: "/jobs/stop/#{job.id}/#{task.id}"}
                                                          %b Cancel
                                                      - elsif tq.status == 'Queued' || tq.status == 'Paused'
                                                        %span.label.label-default.labelfixedwidth.pull-right Queued
                                                      - elsif tq.status == 'Importing'
                                                        %span.label.label-warning.labelfixedwidth.pull-right #{tq.status}
                                                  - if tq.status == 'Running'
                                                    %tr
                                                    %td{:colspan => 6}
                                                      %table{:class => 'table'}
                                                        - @agents.each do |agent|
                                                          - if agent.id.to_i == tq.agent_id.to_i
                                                            - JSON.parse(agent.hc_status).each do |k,v|
                                                              %tr
                                                                %td.col-md-4
                                                                  #{k}
                                                                %td
                                                                  #{v}



                                  - else
                                    %div{id: "collapse-#{link}", class: "panel-collapse collapse"}
                                      .panel-body
                                        %ul{class: 'list-group borderless row'}
                                          - @taskqueues.each do |tq|
                                            - if jt.id == tq.jobtask_id
                                              %li{class: 'list-group-item borderless'}
                                                %table{class: 'table'}
                                                  %thead
                                                    %td
                                                      %b Chunk
                                                    %td
                                                      %b Command
                                                    %td
                                                  %tbody
                                                    %td
                                                      #{tq.id}
                                                    %td
                                                      #{tq.command}
                                                    %td
                                                      - if tq.status == 'Completed'
                                                        %span.label.label-primary.labelfixedwidth.pull-right #{tq.status}
                                                      - elsif tq.status == 'Importing'
                                                        %span.label.label-warning.labelfixedwidth.pull-right #{tq.status}
                                                      - else
                                                        %span.label.label-default.labelfixedwidth.pull-right Queued
%br
%br
%br
%meta{:content => '30', 'http-equiv' => 'refresh'}
