!!! 5
%html
  %body
    %p
    .span15
      %br
      .container
        .row
          .col-md-12
            .table
              .panel.panel-primary
                .panel-heading
                  %h3.panel-title
                - if @results.length > 1
                  .panel-body
                    The following hashcat job is running:
                    %p
                    #{@results}
                    %br
                    %br
                    - @jobs.each do |job|
                      - if job.status == 'Running'
                        %h3
                          Hashes Cracked
                          .badge #{@crackedtargets.to_i} / #{@alltargets.to_i}
                        %p
                        .progress
                          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@crackedtargets}", :role => "progressbar", :style => "width: #{@progress.round()}%;min-width: 4em;"} #{@progress.round(1)}%
                -else
                  .panel-body None
              %br
          .col-md-4
            .table
              %table{:class => 'table'}
                %thead
                  %b Job Queue:
                  - if @active_jobs.nil?
                    No HashView jobs are running
                    %br
                    %br
                    %a.btn.btn-primary{:href => "/job/create"}
                      Create a New Job
                %tbody
                  - @jobs.each do |job|
                    - if job.status == 'Running' || job.status == 'Queued'
                      %tr
                        %td 
                          - @customers.each do |customer|
                            - if customer.id == job.customer_id
                              %strong #{customer.name}
                        %td  
                        %td 
                      %tr
                      - @jobtasks.each do |jt|
                        - if job.id == jt.job_id
                          - @tasks.each do |task|
                            - if task.id == jt.task_id
                              %tr
                                %td
                                %td
                                  #{task.name}
                                %td
                                  %div{:align => "right"}
                                    - if jt.status == "Queue"
                                      %span.label.label-default #{jt.status}
                                    - elsif jt.status == "Completed"
                                      %span.label.label-primary #{jt.status}
                                    - elsif jt.status == "Running"
                                      %span.label.label-success #{jt.status}
                                    - else
                                      %span.label.label-default #{jt.status}
                                %td
                                  - if jt.status == "Running"
                                    %a.btn.btn-danger{:href => "/job/stop/#{job.id}/#{task.id}"}
                                      %b Stop
                  %br
          .col-md-4
            .table
              %b GPUs:
              %br
              %br
              - @gpustat.each do |gpu|
                - if gpu.match(/^Adapter/)
                  #{gpu}
                  %br
                - if gpu.match(/Sensor/)
                  / hey sam look at mah dev chops!
                  &nbsp; &nbsp; &nbsp; &nbsp;#{gpu}
                  %br
                - else
                  - if gpu.split.last.to_i == nil
                    .alert.alert-success{:role => "alert"} #{gpu}
                  - else
                    - if gpu.split.last.to_i < 65
                      .alert.alert-success{:role => "alert"} #{gpu}
                    - if gpu.split.last.to_i >= 65 and gpu.split.last.to_i <= 79
                      .alert.alert-warning{:role => "alert"} #{gpu}
                    - if gpu.split.last.to_i > 79
                      .alert.alert-danger{:role => "alert"} #{gpu}
          .col-md-4
            .table
              %table{:class => 'table table-striped'}
                %b Recently Cracked Passwords:
                %br
                %br
                %tbody
                  -if @recentlycracked
                    %td
                      %strong Company
                    %td
                      %strong Username
                    %td
                      %strong Password
                    %tr
                    - @recentlycracked.each do |cracked|
                      - @customers.each do | customer |
                        - if customer.id == cracked.customerid
                          %td #{customer.name}
                          %td #{cracked.username}
                          %td #{cracked.plaintext}
                        %tr
                  -else
                    %b None... lets get cracking!
%br
%br
%br
%meta{:content => "15", "http-equiv" => "refresh"}
