!!! 5
%html
  %body
    %p
    .span15
      .container
        .row
          .col-md-12
            - if !@active_jobs.empty?
              .table
                .panel.panel-primary
                  .panel-heading
                    %h3.panel-title
                      - if @active_jobs
                        - @customers.each do |customer|
                          - @active_jobs.each do |active_job|
                            - if active_job.customer_id == customer.id
                              %b Customer:
                              #{customer.name}
                              %b Job:
                              #{active_job.name}
                  .panel-body
                    - @jobs.each do |job|
                      - if job.status == 'Running'
                        %h3
                          Hashes Cracked
                          .badge #{@crackedtargets.to_i} / #{@alltargets.to_i}
                        %p
                        .progress
                          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@crackedtargets}", :role => "progressbar", :style => "width: #{@progress.round()}%;min-width: 4em;"} #{@progress.round(1)}%
                    .row
                      .col-md-12
                        - @jobs.each do |job|
                          - if job.status == 'Importing'
                            %center
                              %h3 Importing. Please wait...
                          - elsif job.status == 'Running'
                            %h3 Job Status
                            .table
                              %table{:class => 'table'}
                                - if @hashcat_status
                                  - @hashcat_status.each do |k,v|
                                    %tr
                                      %td.col-md-4
                                        #{k}
                                      %td
                                        #{v}
            - else
              .jumbotron
                %center
                  %h4 Feed me hashes!
                  %br
                  %a.btn.btn-primary{:href => "/jobs/create"}
                    Create a New Job
            /%br
            - if @active_jobs.empty?
              .page-header
                %h2 Job Queue
              No Hashview jobs are running
            - else
              .page-header
                %h2 Job Queue
              - @jobs.each do |job|
                - if job.status == 'Running' || job.status == 'Queued' || job.status == 'Importing'
                  - @customers.each do |customer|
                    - if customer.id == job.customer_id
                      %h3 #{customer.name} - #{job.name}
                      #accordion.panel-group
                        .panel.panel-default
                          - @jobtasks.each do |jt|
                            - if job.id == jt.job_id
                              - @tasks.each do |task|
                                - if task.id == jt.task_id
                                  - link = rand(36**8).to_s(36)
                                  .panel-heading
                                    %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{link}" }
                                      %td
                                        #{task.name}
                                    - if jt.status == 'Queued'
                                      %span.label.label-default.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Completed'
                                      %span.label.label-primary.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Running'
                                      %span.label.label-success.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Importing'
                                      %span.label.label-warning.labelfixedwidth.pull-right #{jt.status}
                                    - elsif jt.status == 'Canceled'
                                      %span.label.label-default.labelfixedwidth.pull-right #{jt.status}
                                  - if jt.status == 'Running'
                                    %div{:id => "collapse-#{link}", :class => "panel-collapse collapse in"}
                                      .panel-body
                                        Remaining tasks:
                                        %p
                                        %ul{:class =>"list-group borderless row"}
                                          - @taskqueues.each do |tq|
                                            - if jt.id == tq.jobtask_id
                                              - next if tq.status == 'Completed'
                                              %li{:class => "list-group-item borderless"}
                                                %table{:class => 'table'}
                                                  %thead
                                                    %td
                                                      %b Chunk
                                                    %td
                                                      - if tq.status == 'Queued'
                                                        %b Command
                                                      - else
                                                        %b Agent
                                                  %tbody
                                                    %td
                                                      #{tq.id}
                                                    %td
                                                      - if tq.status == 'Queued'
                                                        #{tq.command}
                                                      - else
                                                        - @agents.each do |agent|
                                                          - if agent.id.to_i == tq.agent_id.to_i
                                                            #{agent.name}
                                                    %td
                                                      - if tq.status == 'Running'
                                                        %a.label.label-danger.labelfixedwidth.pull-right{:href => "/jobs/stop/#{job.id}/#{task.id}"}
                                                          %b Cancel
                                                      - elsif tq.status == 'Queued'
                                                        %span.label.label-default.labelfixedwidth.pull-right #{tq.status}
                                                      - elsif tq.status == 'Importing'
                                                        %span.label.label-warning.labelfixedwidth.pull-right #{tq.status}
                                  - else
                                    %div{:id => "collapse-#{link}", :class => "panel-collapse collapse"}
                                      .panel-body
                                        %ul{:class =>"list-group borderless row"}
                                          - @taskqueues.each do |tq|
                                            - if jt.id == tq.jobtask_id
                                              %li{:class => "list-group-item borderless"}
                                                %table{:class => 'table'}
                                                  %thead
                                                    %td
                                                      %b Chunk
                                                    %td
                                                      %b Command
                                                    %td
                                                  %tbody
                                                    %td
                                                      #{tq.id}
                                                    %td
                                                      #{tq.command}
                                                    %td
                                                      - if tq.status == 'Completed'
                                                        %span.label.label-primary.labelfixedwidth.pull-right #{tq.status}
                                                      - elsif tq.status == 'Importing'
                                                        %span.label.label-warning.labelfixedwidth.pull-right #{tq.status}
                                                      - else
                                                        %span.label.label-default.labelfixedwidth.pull-right #{tq.status}
          -#.cold-md-12
          -#  .table
          -#    %h3 Job Queue
          -#    %table{:class => 'table'}
          -#      - if @active_jobs.empty?
          -#        No Hashview jobs are running
          -#      - else
          -#        %thead
          -#          %td
          -#            %b Customer
          -#          %td
          -#            %b Task
          -#          %td
          -#            %b Agent
          -#          %td
          -#            %b Status
          -#          %td
          -#            %b Control
          -#        - @jobs.each do |job|
          -#          - if job.status == 'Running' || job.status == 'Queued' || job.status == 'Importing'
          -#            %tbody
          -#            - @customers.each do |customer|
          -#              - if customer.id == job.customer_id
          -#                - @jobtasks.each do |jt|
          -#                  - if job.id == jt.job_id
          -#                    - @tasks.each do |task|
          -#                      - if task.id == jt.task_id
          -#                        - @taskqueues.each do |tq|
          -#                          - if tq.jobtask_id == jt.id
          -#                            %tr
          -#                              %td
          -#                                #{customer.name}
          -#                              %td
          -#                                #{tq.id}
          -#                                #{task.name}
          -#                              %td
          -#                                - @taskqueues.each do |taskqueue|
          -#                                  - if jt.id == taskqueue.jobtask_id
          -#                                    - @agents.each do |agent|
          -#                                      - if agent.id.to_i == taskqueue.agent_id.to_i
          -#                                        #{agent.name}
          -#                              %td
          -#                                #{tq.status}
          -#                                /%div{:align => "center"}
          -#                                - if jt.status == 'Queue'
          -#                                  %span.label.label-default #{jt.status}
          -#                                - elsif jt.status == 'Completed'
          -#                                  %span.label.label-primary #{jt.status}
          -#                                - elsif jt.status == 'Running'
          -#                                  %span.label.label-success #{jt.status}
          -#                                - elsif jt.status == 'Importing'
          -#                                  %span.label.label-warning #{jt.status}
          -#                                - else
          -#                                  %span.label.label-default #{jt.status}
          -#                              %td
          -#                                - if jt.status == "Running"
          -#                                  %a.label.label-danger{:href => "/jobs/stop/#{job.id}/#{task.id}"}
          -#                                    %b Cancel
          -#          %br
          -# commenting this out until we redesign the dashboard
          -#.col-md-4
          -#  .table
          -#    %b GPUs:
          -#    %br
          -#    %br
          -#    - @gpustat.each do |gpu|
          -#      - if gpu.match(/^Adapter/)
          -#        #{gpu}
          -#        %br
          -#      - if gpu.match(/Sensor/)
          -#        / hey sam look at mah dev chops!
          -#        &nbsp; &nbsp; &nbsp; &nbsp;#{gpu}
          -#        %br
          -#      - else
          -#        - if gpu.split.last.to_i == nil
          -#          .alert.alert-success{:role => "alert"} #{gpu}
          -#        - else
          -#          - if gpu.split.last.to_i < 65
          -#            .alert.alert-success{:role => "alert"} #{gpu}
          -#          - if gpu.split.last.to_i >= 65 and gpu.split.last.to_i <= 79
          -#            .alert.alert-warning{:role => "alert"} #{gpu}
          -#          - if gpu.split.last.to_i > 79
          -#            .alert.alert-danger{:role => "alert"} #{gpu}
          -#.col-md-4
          -#  .table
          -#    %table{:class => 'table table-striped'}
          -#      %b Recently Cracked Passwords:
          -#      %br
          -#      %br
          -#      -if @recentlycracked
          -#        %thead
          -#          %td
          -#            %strong Date / Time
          -#          %td
          -#            %strong Username
          -#          %td
          -#            %strong Password
          -#        %tbody
          -#          - @recentlycracked.each do |entry|
          -#            %tr
          -#              - if entry.time_period.to_i > 525600
          -#                %td FOREVER
          -#              - elsif entry.time_period.to_i > 2880
          -#                %td #{entry.time_period.to_i/1440} Days ago
          -#              - elsif entry.time_period.to_i > 1440
          -#                %td 1 Day ago
          -#              - elsif entry.time_period.to_i > 120
          -#                %td #{entry.time_period.to_i/60} Hours ago
          -#              - elsif entry.time_period.to_i > 60
          -#                %td 1 Hour ago
          -#              - elsif entry.time_period.to_i >= 0
          -#                %td #{entry.time_period} Mins ago
          -#              - else
          -#                %td NOW
          -#              - if entry.username.nil?
          -#                %td --------
          -#              - else
          -#                %td #{entry.username}
          -#              %td #{entry.plaintext}
          -#      -else
          -#        %b None... lets get cracking!
%br
%br
%br
%meta{:content => "15", "http-equiv" => "refresh"}
