!!!
%html
  %body
    .span15
      .container
        .col-md-12
          .row
            .page-header
              %h1
                Hub Check
            .row
              .col-md-10
                The following hashes are already cracked on Hashview Hub. Click reveal to show it now or click continue.
      %br
      %br
      .container
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th
                      %b Hub
                    %th
                      %b Type
                    %th
                      %b Cipher Text
                %tbody
                  - @results.each do |entry|
                    -if entry['show_results'] == '1'
                      %tr
                        %td
                          %a.btn.btn-success{:href => "/hub/hash/reveal/hash/#{entry['id'].to_s}"}
                            reveal
                        %td #{modeToFriendly(entry['hashtype'].to_s)}
                        %td #{entry['ciphertext']}
                  %tr
                    %td
                      %a.btn.btn-success{:href => "/hub/hash/reveal/hashfile/#{@jobs.hashfile_id}"}
                        Reveal All
                    %td
                    %td
                    %td
        .container
          .row
            .col-md-12
              %a.btn.btn-primary{:href => "/jobs/assign_tasks?job_id=#{@jobs.id}"}
                Continue
