!!! 5
%html{lang: 'en'}
  %head
    %script{src: '/js/jquery-2.1.3.min.js'}
    %script{src: '/js/bootstrap.js'}
    %script{src: '/js/modules.js'}
    %meta{charset: 'utf-8'}/
    %title HashView - Password Cracking Management Console
    %meta{content: '', name: 'All types of crack are welcome'}/
    %link{href: "/css/#{@settings.ui_themes}.css", rel: 'stylesheet'}/
    %link{href: "/css/hashviewStyle.css", rel: 'stylesheet'}/

    :css
      .body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .padded {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 0px;
      }
      %link{href: "/css/bootstrap-responsive.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        %a.navbar-brand(href="/home")
          Hashview
        %button.navbar-toggle(data-toggle="collapse" data-target=".navHeaderCollapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .collapse.navbar-collapse.navHeaderCollapse
          %ul.nav.navbar-nav.navbar-right.vCenter
            %li
              - if isBusy?
                %span.label.label-danger Busy eating
              - else
                %span.label.label-success Feed me nom nom
            - if validSession?
              %li
                %a(href="/jobs/list") Jobs
              %li.dropdown
                %a.dropdown-toggle(data-toggle='dropdown' href='#')
                  Tasks
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a(href='/tasks/list') Tasks
                  %li
                    %a(href='/task_groups/list') Task Groups
              - if hubEnabled?
                %li
                  %a(href="/hub") Hub
              %li.dropdown
                %a.dropdown-toggle(data-toggle='dropdown' href='#')
                  Manage
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a(href='/customers/list') Customers
                  %li
                    %a(href='/wordlists/list') Wordlists
                  %li
                    %a(href='/rules/list') Rules
                  %li
                    %a(href='/hashfiles/list') Hashfiles
                  %li
                    %a(href='/agents/list') Agents
                  %li.divider{role: 'separator'}
                  %li
                    %a(href='/analytics') Analytics
                  %li
                    %a(href='/search') Search
                  %li.divider{role: 'separator'}
                  %li
                    %a(href='/accounts/list') User Accounts
                  %li
                    %a(href='/settings') Global Settings
                  %li
                    %a(href='/logout') Logout
            %li
              - if !validSession?                
                %a(href="/login") Login
    - if flash[:info]
      .container
        .flash.alert.alert-info{role: 'info'}
          = flash[:info]
    - if flash[:error]
      .container
        .flash.alert.alert-danger{role: 'alert'}
          = flash[:error]
    - if flash[:warning]
      .container
        .flash.alert.alert-warning{role: 'warning'}
          = flash[:warning]
    - if flash[:success]
      .container
        .flash.alert.alert-success{role: 'success'}
          = flash[:success]
    %script{type: 'text/javascript'}
      :plain
        window.setTimeout(function() {
          $(".flash").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
          });
        }, 3000);
    = yield
