!!!
%html
  %body
    .span15
      .container
        .row
          .page-header
            %h1
              Search by Hash
      .container
        .row
          .col-md-10
            %form{:class => "form-horizontal", :action => "/search", :method => "post"}
              .form-group
                %label.control-label.col-xs-2{:for => ""} Hash:
                .col-xs-10
                  %input{:type => "textbox", :class => "form-control", :name => "hash", :id => "hash"}
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-primary{:type => "submit"} Search
        %br
        %br
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th Username
                    %th Plaintext
                    %th Type
                    %th Hash
                    %th Customer
                %tbody
                  %tr
                  - if @plaintexts
                    - @plaintexts.each do |entry|
                      %td #{entry.username}
                      %td #{entry.plaintext}
                      %td #{modeToFriendly(entry.hashtype.to_s)}
                      %td #{entry.originalhash}
                      - @customers.each do |customer|
                        - if entry.customerid == customer.id
                          %td #{customer.name}
                      %tr
                  - else
                    %td "No Results"
                    %tr
