!!!
%html
  %body
    %p
    .span15
      %br
      .container
        .row
          .col-md-12
            .container
              .row
                .page-header
                  %h1
                    Tasks
                .row
                  .col-md-10.pull-left
                    Task are predefined hashcat commands. Any number of tasks can be assigned to a Job.
                  .col-md-2.pull-right
                    %a.btn.btn-primary.pull-right{:href => "/tasks/create"}
                      Create Task
        %br
        %br
        .row
          .col-md-12
            .table
              %table{:class => 'table table-striped'}
                %thead
                  %tr
                    %th
                      %b Task Name
                    %th
                      %b Type
                    %th
                      %b Controls
                %tbody
                  - if @tasks
                    - @tasks.each do |task|
                      %tr
                        %td #{task.name}
                        %td
                          - if task.hc_attackmode == 3
                            Brute Force
                          - elsif task.hc_attackmode == 0
                            Dictionary
                          - else
                            Uknown
                        %td
                          %a.btn.btn-info{:href => "#modal#{task.id}", "data-toggle" => 'modal'}
                            %i.glyphicon.glyphicon-info-sign{:title => 'Info'}
                          .modal.fade.modal{:id => "modal#{task.id}", :role => "dialog", :tabindex => "-1", "aria-hidden"=>'true'}
                            .modal-dialog.modal-lg
                              .modal-content
                                .modal-header
                                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} &times;
                                  %h4.modal-title Task details for: #{task.name}
                                .modal-body
                                  .row
                                    .form-group
                                      %label.control-label.col-xs-2{:for => ""} Task Name
                                      .col-xs-10
                                        #{task.name}
                                  .row
                                    .form-group
                                      %label.control-label.col-xs-2{:for => ""} Attack Mode
                                      .col-xs-4
                                        - if task.hc_attackmode == 3
                                          Brute Force
                                        - elsif task.hc_attackmode == 0
                                          Dictionary
                                        - else
                                          Unknown
                                  - if task.hc_attackmode == 0
                                    .row
                                      .form-group
                                        %label.control-label.col-xs-2{:for => ""} Wordlist
                                        .col-xs-4
                                          - @wordlists.each do |wl|
                                            - if wl.id.to_i == task.wl_id.to_i
                                              #{wl.name}
                                    .row
                                      .form-group
                                        %label.control-label.col-xs-2{:for => ""} Dictionary Rules
                                        .col-xs-4
                                          #{task.hc_rule}
                          %a.btn.btn-warning{:href => "/tasks/edit/#{task.id}"}
                            %i.glyphicon.glyphicon-cog{:title => 'Edit'}
                          %a.btn.btn-danger{:href => "/tasks/delete/#{task.id}"}
                            %i.glyphicon.glyphicon-trash{:title => 'Delete'}
