!!!
/ hash File (option to import)
/ dictionary (option to import)
/ company name
%html
  %body
    %p
    .span15 
      %br
      .container
        %h2 Create a new task
        %br
        .row
          .col-md-10
            %form{:class => "form-horizontal", :action => "/task/create", :method => "post"}
              .form-group
                %label.control-label.col-xs-2{:for => ""} Task Name
                .col-xs-10
                  %input{:type => "textbox", :class => "form-control", :name => "name", :id => "name"}
              .form-group
                %label.control-label.col-xs-2{:for => ""} Attack Mode
                .col-xs-4
                  %select.form-control{:name => "attackmode"}
                    %option{:value => "dictionary", :name => "attackmode", :type => "button"} Dictionary
                    %option{:value => "bruteforce", :name => "attackmode", :type => "button"} Brute Force
              .form-group
                %label.control-label.col-xs-2{:for => ""} Wordlist
                .col-xs-4
                  %select.form-control{:name => "wordlist"}
                    - @wordlists.each do |wordlist|
                      %option{:value => "#{wordlist.id}", :name => "wl_id", :type => "button"} #{wordlist.name} (#{wordlist.size} words)    
              .form-group
                %label.control-label.col-xs-2{:for => ""} Dictionary Rules
                .col-xs-4
                  %select.form-control{:name => "rule"}
                    %option{:value => "none", :name => "rule", :type => "button", :selected => "selected"} None                  
                    - @rules.each do |rule|
                      %option{:value => "#{rule}", :name => "rule", :type => "button"} #{rule}
              .form-group
                .col-xs-offset-2.col-xs-10
                  %button.btn.btn-primary{:type => "submit"} Create
